<template>
  <div class="about page">
    <h1>YOUR TEAM</h1>
    <div class="member">
      <ul>
        <li v-for="(member,index) in team" :key="index">
          Name:
          <div class="data">{{ member.firstName }} {{ member.lastName }}</div>age:
          <div class="data">{{ member.age }}</div>
          <button @click="removeMember(index)" class="btn-remove">Remove</button>
        </li>
      </ul>
      <h2 v-if="team.length < 1">Sorry! Your team is empty</h2>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "about",
  computed: { ...mapState(["team"]) },
  data() {
    return {};
  },
  methods: {
    ...mapMutations(["REMOVE_FROM_TEAM"]),
    removeMember(member) {
      this.REMOVE_FROM_TEAM(member);
    }
  }
};
</script>


<style lang="scss" scooped>
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  h1 {
    font-weight: bold;
    text-align: center;
    color: #464646;
  }
  .member {
    li {
      .data {
        color: orange;
      }
      color: white;
      list-style: none;
      display: flex;
      justify-content: space-around;
      background-color: #464646;
      font-size: 15px;
      border: none;
      padding: 20px;
      width: 100%;
      box-shadow: 0 5px 5px gray;
      outline: none;
      margin-top: 50px;
    }

    .btn-remove {
      justify-self: right;
      float: right;
      text-transform: uppercase;
      font-size: 0.8em;
      background: #ff0000;
      border: none;
      padding: 5px;
      color: white;
      cursor: pointer;
    }
  }
}
</style>
