<template>
  <div class="home page">
    <form @submit.prevent="valid">
      <div class="el">
        <label>First name</label>
        <input v-model="firstName" class="text-input" placeholder="Add first name..." />
        <p v-for="(fnError , index) in fnameErrors" :key="index" class="error">{{fnError.name}}</p>
      </div>
      <div class="el">
        <label>Last name</label>
        <input v-model="lastName" class="text-input" placeholder="Add last name..." />
        <p v-for="(lnError , index) in lnameErrors" :key="index" class="error">{{lnError.name}}</p>
      </div>
      <div class="el">
        <label>Add age</label>
        <input v-model="age" class="text-input" placeholder="Add age..." />
        <p v-for="(aError , index) in ageErrors" :key="index" class="error">{{aError.name}}</p>
      </div>
      <button to="/about" @click.prevent="valid" class="btn-add">Add message</button>
    </form>
    <p v-for="(error , index) in errors" :key="index" class="error">{{error.name}}</p>
    <p v-if="errors.length > 0">You have {{errors.length }} error(s</p>
    <p class="count">Your team have {{ count }} members</p>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  name: "home",
  computed: { ...mapState(["team"]), ...mapGetters(["count"]) },
  data() {
    return {
      firstName: "",
      lastName: "",
      age: "",
      errors: [],
      fnameErrors: [],
      lnameErrors: [],
      ageErrors: []
    };
  },
  methods: {
    ...mapMutations(["ADD_TO_TEAM"]),
    valid() {
      this.fnameErrors = [];
      this.lnameErrors = [];
      this.ageErrors = [];
      if (this.firstName == "") {
        this.fnameErrors.push({ name: "Name required!" });
      } else if (this.firstName.length != 0 && this.firstName.length <= 3) {
        this.fnameErrors.push({ name: "Name have to be at least 3 letters!" });
      } else if (this.lastName == "") {
        this.lnameErrors.push({ name: "Name required!" });
      } else if (this.lastName.length != 0 && this.lastName.length <= 3) {
        this.lnameErrors.push({ name: "Name have to be at least 3 letters!" });
      } else if (this.age == "") {
        this.ageErrors.push({ name: "Age required!" });
      } else if (/\D/.test(this.age)) {
        this.ageErrors.push({ name: "Age can be only number!" });
      } else if (this.age > 60) {
        this.ageErrors.push({ name: "You are too old for this team!" });
      } else if (this.age < 18) {
        this.ageErrors.push({ name: "You are too young for this team!" });
      } else {
        this.ADD_TO_TEAM({
          firstName: this.firstName,
          lastName: this.lastName,
          age: this.age
        });
        (this.firstName = ""), (this.lastName = ""), (this.age = "");
      }
    }
  }
};
</script>


<style lang="scss" scoped>
.home {
  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    .el {
      height: 120px;
      input {
        font-size: 22px;
        border: none;
        padding: 20px;
        width: 90%;
        box-shadow: 0 5px 5px gray;
        outline: none;
        position: relative;
        &:focus {
          border-bottom: 2px solid orange;
        }
      }
    }
  }
  .btn-add {
    justify-content: center;
    background-color: orange;
    padding: 200px;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 95%;
    height: 40px;
    border: solid orange;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .error {
    color: rgb(230, 0, 0);
    border-bottom: 2px solid rgb(230, 0, 0);
  }
  .count {
    text-align: center;
  }
}
</style>
