<template>
  <div class="app">
    <div class="nav">
      <router-link to="/">HOME</router-link>
      <router-link to="/about">About</router-link>
    </div>
    <transition
      name="router-anim"
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutRight"
    >
      <router-view />
    </transition>
  </div>
</template>

<style lang="scss">
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #464646;
  font-weight: bold;
  background: #fff;
  width: 40%;
  padding: 30px;
  border-radius: 10px;
  margin: 50px auto 0 auto;

  .router-anim-enter-active {
    animation: coming 1s;
    animation-delay: 0.5s;
    opacity: 0;
  }
  .router-anim-leave-active {
    animation: going 1s;
  }

  @keyframes going {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50px);
      opacity: 0;
    }
  }
  @keyframes coming {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
.page {
  position: fixed;
  width: 40%;
}
.nav {
  text-align: center;
  z-index: 11111;
  margin-bottom: 50px;

  a {
    font-weight: bold;
    color: #464646;
    font-size: 30px;
    text-decoration: none;
    &.router-link-exact-active {
      color: orange;
    }
  }
}
</style>
